<html>
%head

  %meta{ charset:"utf-8" }
  %meta{ content:"IE=edge",
         "http-equiv" => "X-UA-Compatible" }
  %meta{ name:"viewport",
         content:"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" }
  %title {{ page.title }}
  %link{ rel:        "stylesheet",
         integrity:  "sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M",
         crossorigin:"anonymous" }

  -# -----
    ###### Bootstrap ######
  %link{ rel:        "stylesheet",
         href:       "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css",
         integrity:  "sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M",
         crossorigin:"anonymous" }
  %link{ rel:"stylesheet", href:"//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" }

  -# -----
    ###### Admin LTE ######
  %link{ rel:"stylesheet", href:"/frameworks/admin_lte/2.4.0/dist/css/AdminLTE.min.css" }
  %link{ rel:"stylesheet", href:"/frameworks/admin_lte/2.4.0/dist/css/skins/all-skins.min.css" }

  -# -----
    ###### URAKATA Original ######
  %link{ rel:"stylesheet", href:"/themes/chicken/styles/style_base.css" }

  -# -----
    ###### for IE ######
  / [if lt IE 9]
    <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  :scss
    body { font-family:"a-otf-ud-shin-go-pr6n"; }
