%header.main-header
  %a.logo{ href:"/" }
    %span.logo-mini URAKATA Works
    %span.logo-lg URAKATA Works
  %nav.navbar.navbar-static-top
    %a.sidebar-toggle{ href:"#", role:"button", :"data-toggle" => "push-menu" }
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        %li.dropdown.messages-menu